<article class="cq-job">
    <header class="cq-job-header clearfix">
        <div class="status"></div>
        
        <a class="cq-job-header-title loadDetails name" href="#"></a>
        <a class="cq-job-hide-details hideDetails" href="#">隐藏 详情</a>

        <section class="actions dropdown pull-right">
            <a href="#" class="cq-actions-toggle dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li class="cq-with-icon"><a href="#" class="pause" title=""><span class="flaticon-pause"></span>暂停所有触发器</a></li>
                <li class="cq-with-icon"><a href="#" class="resume" title=""><span class="flaticon-play"></span>恢复所有触发器</a></li>

                <li role="separator" class="divider"></li>
                <li class="cq-with-icon"><a href="#" class="delete" title=""><span class="flaticon-remove"></span>删除任务</a></li>

                <li role="separator" class="divider"></li>
                <li><a href="#" class="execute">立即执行</a></li>
                <li><a href="#" class="addTrigger">添加触发器</a></li>
            </ul>
        </section>
    </header>
    
    <section class="detailsContainer"></section>

    <table class="cq-triggers triggers">
        <thead>
            <tr>
                <th>触发器</th>
                <th>预定计划</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>上一次</th>
                <th class="cq-pre-actions">下一次</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</article>